body {
	font-family: 'Robot', sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding:0;
  
	
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.navbar{
  position: fixed;
	width: 100%;
	height: 50px;
	background: rgb(94, 121, 255);
	background: linear-gradient(90deg, rgba(94, 121, 255, 1) 0%, rgba(125, 254, 255, 1) 50%, rgba(163, 255, 87, 1) 100%);
	z-index: 1;
  border-radius: 15px;
	
	
}

html { overflow-y: scroll; }
.sidebar{
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background: #042331;
	transition: all .5s ease;
	z-index: 2;

}
.sidebar header{
	font-size: 22px;
	color: white;
	text-align: center;
	line-height: 70px;
	background: #063146;
	user-select: none;
}
.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	color: white;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid black;
	transition: 0.5s;
	z-index: 2;
	border-radius: 10px;
}
ul li:hover a{
	padding-left: 50px;
}
.sidebar ul a i{
	margin-right: 16px;
}
#check{
	display: none;
}
label #btn,label #cancel{
	position: absolute;
	cursor: pointer;
	background: #042331;
	border-radius: 0px;
	width: 32px;
	
	
}
label #btn{
  margin-right: 0.5em;

	top: 3px;
	font-size: 30px;
	color: 	white;
	padding: 6px 12px;
	transition: all .5s;
	width: 26px;
	background-color: 	#063146;
	border-radius: 20px;
}
label #cancel{
	z-index: 1111;
	left: -195px;
	top: 17px;
	font-size: 30px;
	color: #0a5275;
	padding: 4px 9px;
	transition: all .5s ease;
	
}
#check:checked ~ .sidebar{
	left: 0;
}
#check:checked ~ label #btn{
	left: 250px;
	opacity: 0;
	pointer-events: none;
	
}
#check:checked ~ label #cancel{
	left: 195px;
}
.dark-mode {
  background-color: #1c1d20;
  color: white;
}
.fa-moon{
  color :white;
	width: 20px;
	height: 20px;

}

.darkmode{
  height: 45px;
  width: 50px;
  border-radius:20px;
  z-index:2;
	align-items: center;
	justify-content: center;
	background-color: #063146;
	position: fixed;
	top:3px;
	right:3px;
	
}


.dark.mode{
  height: 40px;
  width:100%;
  background-color:green;
}

.logo{
position: absolute;
height:120px;
width:120px;
border-radius: 50%;
top: 120px;
left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
 border: solid 5px;
border-color: rgb(94,121,255);
  
  
}	

.logoimg{
  height:120px;
  width:120px;
  align-items: top;
  border-radius: 50%;
}

.mission{
  position: relative;
  top: 200px;
  align-items:center;
  text-align: center;
}


.fe{
  
	position: relative;
	top: 220px;
	left: 10%;
	height:70px;
	width:80%;
	padding: 0.6em 2em;
	color: rgb(255, 255, 255);
	background: ghostwhite;
  cursor: pointer;
  position: relative;
	border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  
  
}


.se{
	position: relative;
	top: 240px;
	left: 10%;
	height:70px;
	width:80%;
  padding: 0.6em 2em;
	color: rgb(255, 255, 255);
	background: ghostwhite;
  cursor: pointer;
  position: relative;
	border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}


.te{
	position: relative;
	top: 260px;
	left: 10%;
	height:70px;
	width:80%;
	padding: 0.6em 2em;
	color: rgb(255, 255, 255);
	background: ghostwhite;
  cursor: pointer;
  position: relative;
	border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}


.le{
	position: relative;
	top: 280px;
	left: 10%;
	height:70px;
	width:80%;
	padding: 0.6em 2em;
	color: rgb(255, 255, 255);
	background: ghostwhite;
  cursor: pointer;
  position: relative;
	border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}


.fe:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.5s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.se:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.te:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


.le:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
